$btn-green: #2fb26a;
$btn-green-border:#2fb26a;
$btn-green-hover: #36ba73;
$btn-green-active: #23b58f;
$btn-disable: #23b58f;
$btn-grey:#e2e2e2;
$btn-grey-border:#d8d8d8;
$btn-grey-color:#E2E2E2;
$btn-blue:#0094e7;
$btn-blue-border:#0072b3;
$btn-blue-hover:#0085d0;
$btn-blue-active:#0079bd;
$border-color:#dadada;
$shadow-color:#e2e6e8;
$bg-color:#f2f4f5;
//layer
$index-super:200;
$index-hign:100;
$index-mid: 50;
$index-low: 10;
$blue: #38baf8;
$green:#2fb26a;
$header-color:#2fb26a;
$link-red:#ff5454;
$yellow: #ffc62c;
$base:#444444;
$font-weight:#000000;
$font-light:#888888;
$font-disable:#e2e2e2;
$body-bg:#fff;	